doctype html

header
  .container.upper
    h2 Saját bejegyzéseim
    .row
      div.m-auto
        a(data-toggle="collapse", href="#create-post", role="button", aria-expanded="false", aria-controls="createpost") Új bejegyzés írása
        a(data-toggle="collapse", href="#search-bar", role="button", aria-expanded="false", aria-controls="searchbar") Keresés
  section#search-bar.collapse.container
        div.row.input-group.btn-group.col-12.m-auto
          input.col-8.form-control(type='text', name='search', id='search' ,[(ngModel)]='searchWord', placeholder='Keresés cím alapján')
          button.col-4.btn.btn-info(type='button', (click)='searchPostByTitle()') Keresés
  section#create-post.collapse
    .container
      h4 Új bejegyzés
      form
        .form-group
          input.form-control(type="text", name='title', placeholder='Cím', [(ngModel)]='newPost.title')
        .form-group
          textarea.form-control(type="text", name='content', placeholder='Szöveg', [(ngModel)]='newPost.content')
        .form-group
          //- input.form-control(type="text", name='picture', placeholder='Kép fájlneve', [(ngModel)]='newPost.picture')
          input.form-control(#file, type="file", name='picture', placeholder='Kép fájlneve', (change)="changePic(file)")

        .btn-group
          button.btn.btn-info(type="button") Előnézet
          button.btn.btn-success(type="button", (click)='createPost()') Mentés
main
  section
    .container
      .card.col-12.col-lg-5(*ngFor='let post of datas; let i = index;trackBy: trackByFn')
        .card-header.ml-auto
          .btn-group
            button.btn.btn-warning(data-toggle='modal', data-target='#edit-in-modal', (click)='editModal(post._id)') Szerkesztés
        //- img.card-img-top(src='{{post.picture}}', alt='Card image cap')
        img.card-img-top(src='../../assets/{{post.picture}}', alt='Card image cap')
        .card-body
          h5.card-title {{post.title}}
          pre.card-text.col-12 {{post.content}}
        .card-footer
          span Címkék: 
          a(href="") {{post.tags}}
    //-  updateMODAL
  #edit-in-modal.modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Szerkesztés
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          input.form-control(type="text" name="title" id="title", [(ngModel)]="modal.title")
          textarea.form-control(name="content" id="content", [(ngModel)]="modal.content")
          //- input.form-control(type="text" name="picture" id="picture", [(ngModel)]="modal.picture")
          input.form-control(#fileEdit, type="file", name='picture', (change)="changePicModal(fileEdit)")
        .modal-footer
          button.btn.btn-danger(type='button', (click)='deletePost()') Bejegyzés törlése
          button.btn.btn-primary(type='button', (click)='editPost()') Mentés
          button.btn.btn-secondary(type='button', data-dismiss='modal') Bezárás
